//= require reset.css

@import 'bourbon'
@import 'neat'

$grid-columns: 12
$default-gap: 20px

.content
  max-width: 960px
  position: relative
  margin: 0 auto
  font-family: helvetica, arial, sans-serif
  line-height: 1.5rem
.sidebar
  @include span-columns(3)
  .logo
    margin: 0 auto
    display: block
  .about
    margin-top: $default-gap
    h3
      margin-bottom: $default-gap
      font-weight: bold
  .next-meeting
    color: red
.main
  @include span-columns(9)
  margin-top: $default-gap
  padding-left: $default-gap
  .date
    font-style: oblique
  .article-title, .date
    margin-bottom: 10px

.article
  margin-bottom: $default-gap * 5

h2
  margin-bottom: $default-gap
  font-weight: bold
  font-size: 1.1rem

h3
  margin-bottom: $default-gap
  font-weight: bold

p
  margin-bottom: $default-gap

em
  font-style: oblique

strong
  font-weight: bold

table
  margin: $default-gap 0
  .header
    background-color: #ddd
    padding-bottom: 5px
  th, td
    text-align: left
    padding: 5px $default-gap
